@using ProgrammingGroupWebApp.Data.ENUM;
@using ProgrammingGroupWebApp.ViewModel;
@model EditMeetUpViewModel


<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" value="AddressId" id="AddressId" />
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" placeholder="Title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MeetUpCategory">Club Category</label>
        <select asp-for="MeetUpCategory" asp-items="@Html.GetEnumSelectList<GroupCategory>()" class="form-control">
            <option selected="selected" value="">--Select--</option>
        </select>
        <span asp-validation-for="MeetUpCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Language.Name">Street</label>
        <input asp-for="Language.Name" class="form-control" placeholder="Street">
        <span asp-validation-for="Language.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Language.Language">Street</label>
        <input asp-for="Language.Language" class="form-control" placeholder="Street">
        <span asp-validation-for="Language.Language" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Language.City">City</label>
        <input asp-for="Language.City" class="form-control" placeholder="City">
        <span asp-validation-for="Language.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Language.Description">State</label>
        <input asp-for="Language.Description" class="form-control" placeholder="Street">
        <span asp-validation-for="Language.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="file" class="form-control" placeholder="Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>